form {
    position: relative;
    top: 100px;
}

.journalist-list{
    position:relative;
    top:100px;
    list-style: none;
    background-color:white;
    padding: 5px;
}

.admin-menu{
    margin-top: 100px;
}

.journalist-detail{
    margin-top: 100px;
}

.admin-links{
    margin-top:100px;
}