.article-detail {
    display: inline-block;
    margin-right: 200px;
    margin-left: 200px;
    text-justify: inter-word;
    text-align: center;   
    word-break: break-word;
    margin-top: 10%;
    justify-content: center;
    white-space: pre-wrap;
}



