.homepage > h1 {
    justify-content: center;
    margin-top: 8%;
}

.fa {
    margin-top: 6%;
    padding: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.2;
}

.fa-facebook {
    background: rgb(255, 255, 255, 0.2);
    color: white;
    margin-right: 1%;
    border: solid white;
}
  

.fa-twitter {
    background: rgb(255, 255, 255, 0.2);
    color: white;
    margin-right: 1%;
    border: solid white;
}

.fa-linkedin {
    background: rgb(255, 255, 255, 0.2);
    color: white;
    border: solid white;
}

#homepage-article-title {
    align-items: left;
}

#homepage-article-image {
    align-items: right;
}