.homepage > h1 {
    justify-content: center;
    margin-top: 8%;
}

.fa {
    margin-top: 4%;
    margin-bottom: 2%;
    padding: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.2;
}

.fa-facebook {
    background: rgb(255, 255, 255, 0.2);
    color: white;
    margin-right: 1%;
    border: solid white;
}
  

.fa-twitter {
    background: rgb(255, 255, 255, 0.2);
    color: white;
    margin-right: 1%;
    border: solid white;
}

.fa-linkedin {
    background: rgb(255, 255, 255, 0.2);
    color: white;
    margin-right: 1%;
    border: solid white;
}

.fa-github {
    background: rgb(255, 255, 255, 0.2);
    color: white;
    border: solid white;
}

.homepage-article-title {
    width: 30%;
    margin-top: 0.5%;
    margin-left: 15%;
    padding-right: 2%;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 30px;
    margin-top: 5px;
    margin-right: 20px;
    padding-left: 30px;
    background-color: rgba(54, 53, 53, 0.582);
}

.homepage-list-item > li {
    list-style: none;
}

#homepage-article {
    display: flex;
    align-items: center;
}

.top-stories-title {
    margin-top: -2.5%;
    background-color:rgba(252, 252, 252, 0.5) ;
    border:solid 2px white;
    border-radius: 8px;
    width:50rem;
    justify-self: center;
    margin-left:auto;
    margin-right:auto;
    
}

hr {
    width: 70%;
    border: none;
    height: 2px;
    /* Set the hr color */
    color: rgba(82, 80, 80, 0.712); 
    /* background-color: white; */
    background-color: rgba(54, 53, 53, 0.582); 
}

#homepage-article-button {
    margin-top: -30px;
    margin-left: 45px;
}

#homepage-article-image {
    margin-bottom: 20px;
}