.article-list {
    /* padding-top: 3%; */
    margin-top: 10%;
    display: flex;
    justify-content: space-between; 
    flex-direction: row;
    float: inline-start;
    justify-content: center;
}

.list-item {
    padding-top: 5%;
    padding-bottom: 10%;
    justify-content: center;
    display: inline-block;
    list-style: none;
    width: 250px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-right: 50px;
    transition: transform .2s;
    cursor: pointer;
    font-size: 15px;
}

.list-item:hover {
    transform: scale(1.1);
}

.transparent-box {
    background-color: rgb(255, 255, 255);
    border-radius: 5%;
    /* box-shadow: 5px 5px 5px 5px rgba(175, 175, 175, 0.5); */
    color: rgb(54, 54, 54);
    opacity: 0.75;
  
  }

  .list-item > li > a {
      text-decoration: none;
  }