.article-list {
    /* padding-top: 3%; */
    margin-top: 5%;
    display: flex;
    justify-content: space-between; 
    flex-direction: row;
    float: inline-start;
    justify-content: center;
}

.list-item {
    padding-top: 1%;
    padding-bottom: 1%;
    justify-content: center;
    display: inline-block;
    list-style: none;
    width: 250px;
    /* margin-bottom: 20px; */
    margin-right: 50px;
    margin-bottom: 1%;
    margin-top: 0;
    transition: transform .2s;
    cursor: pointer;
    font-size: 15px;
}

.list-item:hover {
    transform: scale(1.07);
}

.transparent-box {
    background-color: rgb(252, 252, 252, 0.5);
    border-radius: 2%;
    border: white solid;
    /* box-shadow: 5px 5px 5px 5px rgba(43, 43, 43, 0.5); */
    color: rgb(54, 54, 54);
  }

  .list-item > li > a {
      text-decoration: none;
  }