.navLink {
    display: inline;
    margin: 50%;
  }

header {
    background-color: rgb(0, 0, 0, 61);
    opacity: 0.7;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: left;
}

header * {
    display: inline;
    justify-content: flex-end;
}

header li {
    margin: 20px;
    border: white;
}

.navLink > a {
    color: white;
    text-decoration: none;
    font-family: 'IBM Plex Sans', sans-serif;
    border: white;
}
